<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- Log message format -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<!-- Name of the file where the log messages are written -->
		<file>myApp.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.openapi.starter.controller" level="debug" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<!-- Setting the root level of logging to INFO -->

	<root level="info">
		<appender-ref ref="console" />
	</root>

</configuration>